absl-py==0.9.0
aiohttp==3.6.2
alabaster==0.7.12
altair==4.1.0
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.2
appdirs==1.4.4
argh==0.26.2
asn1crypto==0.24.0
astor==0.8.0
astroid==2.2.5
astropy==3.1.2
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.5.2
Babel==2.6.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
base58 @ file:///home/conda/feedstock_root/build_artifacts/base58_1610222858736/work
bcrypt==3.1.7
beautifulsoup4==4.7.1
bitarray==0.8.3
bkcharts==0.2
bleach==3.1.0
blinker==1.4
bokeh==1.0.4
boto==2.49.0
boto3 @ file:///tmp/build/80754af9/boto3_1597795776329/work
botocore @ file:///tmp/build/80754af9/botocore_1598040994819/work
Bottleneck==1.2.1
bs4==0.0.1
cachetools @ file:///tmp/build/80754af9/cachetools_1596822027882/work
catboost @ https://pypi.org/packages/cp37/c/catboost/catboost-0.23.2-cp37-none-win_amd64.whl
category-encoders @ file:///home/conda/feedstock_root/build_artifacts/category_encoders_1588199510095/work/dist
certifi==2020.6.20
cffi==1.12.2
chardet==3.0.4
Click==7.0
cloudpickle==0.8.0
clyent==1.2.2
colorama==0.4.1
comtypes==1.1.7
conda==4.9.2
conda-build==3.17.8
conda-package-handling==1.3.11
conda-verify==3.1.1
contextlib2==0.5.5
cryptography==2.6.1
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.6
cytoolz==0.9.0.1
dask==1.1.4
deap==1.3.1
decorator==4.4.0
defusedxml==0.5.0
diff-match-patch==20181111
distributed==1.26.0
docutils==0.14
entrypoints==0.3
et-xmlfile==1.0.1
face-recognition-models==0.3.0
fake-useragent==0.1.11
fastcache==1.0.2
filelock==3.0.10
flake8==3.7.9
Flask==1.1.1
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1589989738418/work
future==0.17.1
gast==0.3.3
gensim==3.4.0
gevent==1.4.0
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1588651542737/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1609919651081/work
glob2==0.6
google-api-core @ file:///C:/ci/google-api-core-split_1594356932141/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1608136875028/work
google-cloud-core==1.3.0
google-cloud-storage @ file:///tmp/build/80754af9/google-cloud-storage_1594357999796/work
google-resumable-media @ file:///tmp/build/80754af9/google-resumable-media_1594358346190/work
googleapis-common-protos==1.52.0
graphviz==0.14.1
greenlet==0.4.15
grpcio==1.16.1
h5py==2.8.0
heapdict==1.0.0
html5lib==1.0.1
hypothesis==4.39.0
idna==2.10
imageio==2.5.0
imagesize==1.1.0
imbalanced-learn==0.5.0
imblearn==0.0
importlib-metadata==0.0.0
imutils==0.5.3
inflection==0.5.1
intervaltree==3.0.2
ipykernel==5.1.0
ipympl==0.3.1
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.16
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.3
Jinja2==2.10
jmespath @ file:///tmp/build/80754af9/jmespath_1594304593830/work
joblib @ file:///tmp/build/80754af9/joblib_1601912903842/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1591810480056/work
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
Keras==2.3.1
Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
Keras-Preprocessing==1.1.0
keyring==18.0.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
libarchive-c==2.8
lightgbm==2.3.1
llvmlite==0.28.0
locket==0.2.0
lxml==4.5.2
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.0.10
mkl-random==1.0.2
mlxtend @ file:///home/conda/feedstock_root/build_artifacts/mlxtend_1606368531479/work
mock @ file:///D:/bld/mock_1588619039489/work
more-itertools==6.0.0
mplfinance==0.12.7a0
mpmath==1.1.0
msgpack==0.6.1
multidict==4.7.5
multipledispatch==0.6.0
multitasking==0.0.9
navigator-updater==0.2.1
nbconvert==5.4.1
nbformat==4.4.0
networkx==2.2
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
nose==1.3.7
notebook==5.7.8
numba==0.43.1
numexpr==2.6.9
numpy==1.16.2
numpydoc==0.8.0
oauthlib==3.0.1
olefile==0.46
opencv-python==4.4.0.46
openpyxl==2.6.1
packaging==19.0
pandas==1.0.4
pandas-profiling==1.4.2
pandocfilters==1.4.2
paramiko==2.7.1
parse==1.18.0
parso==0.3.4
partd==0.3.10
path @ file:///D:/bld/path_1590330945651/work
path.py==11.5.0
pathlib2==2.3.3
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.1
pkginfo==1.5.0.1
plotly==4.8.1
pluggy==0.9.0
ply==3.11
progressbar==2.5
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.12.2
psutil==5.6.1
py==1.8.0
pyarrow==0.11.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.2
pydeck==0.2.1
pydocstyle==5.0.2
pydotplus==2.0.2
pyee==7.0.4
pyflakes==2.1.1
Pygments==2.3.1
pygpu==0.7.6
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1609976754451/work
pylint==2.3.1
PyNaCl==1.3.0
pyodbc==4.0.26
pyOpenSSL==19.0.0
pyparsing==2.3.1
pyppeteer==0.2.2
pyquery==1.4.1
pyreadline==2.1
pyrsistent==0.14.11
PySocks==1.6.8
pytesseract @ file:///home/conda/feedstock_root/build_artifacts/pytesseract_1605866581960/work
pytest==4.3.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-astropy-header==0.1.2
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
python-dateutil==2.8.0
python-jsonrpc-server==0.3.4
python-language-server==0.28.1
pytz==2020.1
PyWavelets==1.0.2
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.5
PyYAML==5.1
pyzmq==18.0.0
QDarkStyle==2.8.1
QtAwesome==0.5.7
qtconsole==4.4.3
QtPy==1.7.0
Quandl @ file:///C:/ci/quandl_1599872662848/work
regex==2019.6.5
requests==2.24.0
requests-html==0.10.0
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1595492159598/work
retrying==1.3.3
rope==0.12.0
rsa @ file:///tmp/build/80754af9/rsa_1596998415516/work
Rtree==0.9.4
ruamel-yaml==0.15.46
s3transfer @ file:///C:/ci/s3transfer_1594411925509/work
scikit-image==0.14.2
scikit-learn==0.23.2
scipy==1.2.1
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
smart-open @ file:///tmp/build/80754af9/smart_open_1594236772807/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
snowballstemmer==1.2.1
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.8
Sphinx==1.8.5
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.1.0
spyder==3.3.3
spyder-kernels==0.4.2
SQLAlchemy==1.3.1
statsmodels==0.9.0
stopit==1.1.2
streamlit @ file:///home/conda/feedstock_root/build_artifacts/streamlit_1611269276075/work
sympy==1.3
tables==3.4.4
tblib==1.3.2
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
textblob==0.15.3
Theano @ file:///D:/bld/theano_1592974624205/work
threadpoolctl==2.1.0
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
toolz==0.9.0
tornado==6.0.2
TPOT==0.10.2
tqdm==4.50.2
traitlets==4.3.2
tweepy @ file:///home/conda/feedstock_root/build_artifacts/tweepy_1608988696003/work
tzlocal @ file:///home/conda/feedstock_root/build_artifacts/tzlocal_1588939190034/work
ujson==2.0.3
unicodecsv==0.14.1
update-checker==0.17
urllib3==1.25.9
validators @ file:///home/conda/feedstock_root/build_artifacts/validators_1608296160673/work
w3lib==1.22.0
watchdog==0.10.2
wcwidth==0.1.7
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.4.2
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
word2number==1.1
wordcloud==1.6.0
wrapt==1.11.1
xgboost==1.1.0
xlrd==1.2.0
XlsxWriter==1.1.5
xlwings==0.15.4
xlwt==1.3.0
xmltodict==0.12.0
yahoo-fin==0.8.6
yapf==0.29.0
yarl==1.3.0
yfinance==0.1.55
zict==0.1.4
zipp==0.3.3
